.category-collection {
  margin-bottom: 4rem;
}

.slick-slider .slick-next {
  right: -10px;
  z-index: 5;
  background-color: red;
}

.slick-slider .slick-prev {
  left: -25px;
  z-index: 5;
  background-color: red;
}

a {
  padding-right: 1.5rem;
}