header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #0881a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 5% 1.6rem;
}

.logo {
  width: 220px;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  margin-left: 3.2rem;
}

.main-nav a {
  color: #fffdfb;
  font-size: 1.6rem;
}