@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2.1rem;
  font-weight: 100;
  line-height: 1.4;
  letter-spacing: 0.3px;
  font-variant-numeric: lining-nums;
  margin: 0;
  padding: 0;
  background-color: #fffdfb;
  color: #0881a3;
}

main {
  margin-top: 10rem;
}

a {
  color: #0881a3;
  text-decoration: none;
  transition: color 0.6s;
}

p {
  margin: 0 0 1.25rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 1rem;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  background: none;
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  display: block;
  position: relative;
}

.inner-wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}